# Machine Learning on PGA Tour - Classification Methods

In [26]:
# Imports
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, recall_score, confusion_matrix

In [27]:
df = pd.read_csv("../data/pga_data.csv")
df

,Name,Ranking,Driving Distance,Driving Accuracy,Club Head Speed,Ball Speed,Spin Rate,Eligible
0,Patrick Cantlay,1,301.7,60.28,116.03,174.53,2397.4,1.0
1,Jon Rahm,2,307.7,63.52,118.23,177.44,2348.7,1.0
2,Kevin Na,3,288.1,66.73,112.39,164.79,2805.7,1.0
3,Justin Thomas,4,302.7,55.68,117.08,176.24,2281.8,1.0
4,Viktor Hovland,5,300.5,62.47,116.50,173.60,2389.4,1.0
...,...,...,...,...,...,...,...,...
120,C.T. Pan,121,296.3,61.03,111.20,167.34,2129.2,-1.0
121,Matt Kuchar,122,288.0,65.81,108.60,162.18,2419.4,-1.0
122,Brice Garnett,123,288.1,70.86,109.53,164.71,2539.5,-1.0
123,Scott Stallings,124,298.2,58.83,115.96,173.80,2516.0,-1.0
124,Chesson Hadley,125,297.9,56.13,114.30,172.24,2506.7,-1.0

In [28]:
X = np.concatenate((df.iloc[:30, 2:7].to_numpy(),df.iloc[:30, 2:7].to_numpy(), df.iloc[:30, 2:7].to_numpy()))
y = np.concatenate((df.iloc[:30, 7].to_numpy(), df.iloc[:30, 7].to_numpy(), df.iloc[:30, 7].to_numpy()))
X2 = df.iloc[30:, 2:7].to_numpy()
y2 = df.iloc[30:, 7].to_numpy()

X_new = np.vstack((X, X2))
y_new = np.hstack((y, y2))

X_train, X_test, y_train, y_test = train_test_split(X_new, y_new, test_size=0.1)
clf = svm.SVC()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[8, 4],
       [1, 6]])

In [30]:
f1_score(y_test, y_pred)

0.7058823529411764

In [31]:
accuracy_score(y_test, y_pred)

0.7368421052631579